DSVLM_SERVICE_API_BASE=http://61.172.168.94:9079
DSVLM_SERVICE_TOKEN=
DSVLM_SERVICE_TIMEOUT=30
DSVLM_SERVICE_ALLOW_INSECURE_HTTP=false
DSVLM_ALLOW_INSECURE_HTTP=false
DSVLM_LOGIN_USERNAME=
DSVLM_LOGIN_PASSWORD=
